extends layout

block content
  link(rel='stylesheet', href='/stylesheets/level3.css')
  
  .container
    .row
      .col-md-5
        .greeting
          p Hope you enjoyed this Major S.
          p See you soon :)
