extends layout

block content
  link(rel='stylesheet', href='/stylesheets/level1.css')
  
  .container
    .row
      .col-md-5
        .greeting
          p Greetings Major S.
          p We have an important assignment for you.
          p Your arch nemesis has left us baffled
          p with messages that our nations best 
          p couldn't decipher.
          p Your mission, if you choose to accept
          p Crack the code.
          p Save the world.
      .col-md-6
        .octopus
          pre
            |                        ___
            |                    .-'   `'.
            |                    /         \
            |                    |         ;
            |                    |         |           ___.--,
            |           _.._     |0) ~ (0) |    _.---'`__.-( (_.
            |    __.--'`_.. '.__.\    '--. \_.-' ,.--'`     `""`
            |  ( ,.--'`   ',__ /./;   ;, '.__.'`    __
            |  _`) )  .---.__.' / |   |\   \__..--""  """--.,_
            |  `---' .'.''-._.-'`_./  /\ '.  \ _.-~~~````~~~-._`-.__.'
            |        | |  .' _.-' |  |  \  \  '.               `~---`
            |        \ \/ .'     \  \   '. '-._)
            |          \/ /        \  \    `=.__`~-.
            |         / /\         `) )    / / `"".`\
            |    , _.-'.'\ \        / /    ( (     / /
            |    `--~`   ) )    .-'.'      '.'.  | (
            |            (/`    ( (`          ) )  '-;
            |            `      '-;         (-'
    br
    br
    .row
      .col-md-12
        p What is common amongst these pictures?
        br
        img.img-circle(src="/images/c1.jpg")
        img.img-circle(src="/images/c2.jpg")
        img.img-circle(src="/images/c3.jpg")
        img.img-circle(src="/images/c4.png")
        img.img-circle(src="/images/c5.jpg")
        br
        p PS: Found something when I was snooping around.
      br
      .col-md-6
        .form-group
          br
          input.form-control(type=text, placeholder="All lowercase, no spaces, no punctuation, last name", width="60", id="code")
          br
          button.btn.btn-danger(onclick="submit()") Submit
  script(src='/javascripts/level1.js')
